<div
  class="footer container-fluid position-relative bg-dark py-5"
  style="margin-top: 90px">
  <div class="container pt-5" dir="ltr" style="text-align: right">
    <div class="row">
      <div class="col-lg-6 pr-lg-5 mb-5">
        <p>
          ימי ראשון 08:00-14:00
          <br />
          ימי שני 08:00-16:00
          <br />
          ימי שלישי 09:00-18:00
          <br />
          ימי רביעי 14:00-18:00
          <br />
          ימי חמישי 12:00-18:00
          <br />
          ימי שישי 08:00-13:00
        </p>
        <p><i class="fa fa-map-marker-alt mr-2"></i>כתובת איריס 8 גן יבנה</p>
        <p><i class="fa fa-envelope mr-2"></i>ramatia89@gmail.com</p>
        <p><i class="fa fa-phone mr-2"></i>+972 50-252-6605</p>
        <p><i class="fa fa-home mr-2"></i>ח.פ 302945837</p>
        <div class="d-flex justify-content-end mt-4">
          <a
            class="text-primary px-2"
            href="https://www.facebook.com/profile.php?id=100085236125227&sfnsn=wa&mibextid=RUbZ1f">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            class="text-primary px-2"
            href="https://www.instagram.com/physical_therapist_ram/profilecard/?igsh=bmg4dGxubWJ3ZGJ2 ">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-6 pl-lg-5">
        <div class="row">
          <div class="col-sm-6 mb-5">
            <h5 class="text-white text-uppercase mb-4">עמודים</h5>
            <div class="d-flex flex-column justify-content-start">
              <a class="text-white-50 mb-3" href="#">
                בית
                <i class="fa fa-angle-left mr-2"></i>
              </a>
              <a class="text-white-50 mb-3" href="#">
                אודות
                <i class="fa fa-angle-left mr-2"></i>
              </a>
              <a class="text-white-50 mb-3" href="#">
                החזרים
                <i class="fa fa-angle-left mr-2"></i>
              </a>
              <a class="text-white-50 mb-3" href="#">
                תקנון
                <i class="fa fa-angle-left mr-2"></i>
              </a>
              <a class="text-white-50" href="#">
                דרכי הגעה
                <i class="fa fa-angle-left mr-2"></i>
              </a>
            </div>
          </div>
          <div class="col-sm-6 mb-5">
            <h5 class="text-white text-uppercase mb-4">טיפולים</h5>
            <div class="d-flex flex-column justify-content-start">
              <a class="text-white-50 mb-2" href="serviceNeurology.html">
                טיפול נוירולוגי
                <i class="fa fa-angle-left mr-2"></i>
              </a>
              <a class="text-white-50 mb-2" href="serviceOrthopedic.html">
                טיפול אורטופדי
                <i class="fa fa-angle-left mr-2"></i>
              </a>
              <a class="text-white-50 mb-2" href="serviceSport.html">
                טיפול בפציעות ספורט
                <i class="fa fa-angle-left mr-2"></i>
              </a>
              <a class="text-white-50 mb-2" href="serviceVestibular.html">
                טיפול וסטיבולרי לסחרחורות

                <i class="fa fa-angle-left mr-2"></i>
              </a>
            </div>
          </div>
          <div class="col-sm-6 mb-5">
            <h5 class="text-white text-uppercase mb-4">נגישות</h5>
            <a class="text-white-50 mb-2" href="/acc-policy-ram.docx">
              הצהרת נגישות
              <i class="fa fa-angle-left mr-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid bg-dark text-light border-top py-4"
  style="border-color: rgba(256, 256, 256, 0.15) !important">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
        <p class="m-0 text-white">
          &copy;
          <a href="regulations.html#">רם פיזיותרפיה</a> כל הזכויות שמורות
        </p>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <p class="m-0 text-white">
          Designed by <a href="https://htmlcodex.com">HTML Codex</a>
        </p>
      </div>
    </div>
  </div>
</div>
