<div class="container-fluid py-4 border-top border-grey markdown-container">
  <div class="container py-4">
    <h6
      class="d-block text-uppercase py-2 px-4 text-black markdown-title bg-light text-center"
      style="font-size: 2em; font-weight: bold; margin-bottom: 20px;">
    </h6>
    <div class="row align-items-stretch flex-column-reverse flex-lg-row">
      <!-- Left Section (Image) -->
      <div class="col-lg-6 markdown-textLeft d-flex flex-column" dir="rtl" style="text-align: right; margin-top: 10px;">
        <img
        class="img-fluid w-100 markdown-imgLeft"
        src=""
        alt="Markdown Content Image"
        style="display: none;"
      />
        <div class="markdown-contentLeft" style="text-align: right; font-size: 1.3em;"></div>
      </div>
      <!-- Right Section (Text Content) -->
      <div class="col-lg-6 markdown-textRight d-flex flex-column pb-5 border-left border-primary" dir="rtl" style="text-align: right; margin-top: 10px;">
        <img
        class="img-fluid w-100 markdown-imgRight"
        src=""
        alt="Markdown Content Image"
        style="display: none;"
      />
        <div class="markdown-contentRight" style="text-align: right; font-size: 1.3em;"></div>
      </div>
    </div>
  </div>
</div>