<!-- text-block.html -->
<div class="container-fluid py-3 border-top border-grey">
  <div class="container py-3">
    <div class="row align-items-center">
      <div class="col-lg-6 pb-5 pb-lg-0">
        <img
          class="img-fluid w-100 template-img"
          src=""
          alt=""
          style="display: none" />
        <p
          class="template-description-2"
          style="display: none; text-align: center; white-space: pre-line"></p>
      </div>
      <div class="col-lg-6 template-text" dir="ltr" style="text-align: right">
        <h6
          class="d-inline-block text-uppercase bg-light py-2 px-4 template-title-1"></h6>
        <h1 class="mb-4 template-title-2"></h1>
        <p
          class="pl-4 border-left border-primary template-description"
          style="white-space: pre-line"
          data-full-text=""></p>
        <div style="text-align: center; margin-top: 10px">
          <button class="btn btn-primary read-more-btn" style="display: none">
            קרא עוד
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
